<!Doctype html>
<html>
<head>
    <title>Witaj w Systemie do Zarządzania Pracami Dyplomowymi</title>
</head>

<body>
    <p style="font-size:18px;">
        Witaj ViewBag.Name,
    </p>
    <p style="font-size:18px;">
        Kliknij na link aby zalogować się do aplikacji: <a href="ViewBag.Link">link</a>
    </p>
</body>
</html>