<!Doctype html>
<html>
<head>
    <title>Witaj w Systemie do Zarządzania Pracami Dyplomowymi</title>
</head>

<body>
    <p style="font-size:18px;">
        Witaj ViewBag.Name,
    </p>
    <p style="font-size:18px;">
        Aby dokończyć proces tworzenia konta kliknij link: <a href="ViewBag.Link">link</a>
    </p>
</body>
</html>