@{
    ViewBag.Title = "Confirm Email";
}

<br />
<br />

<h2>Udało się!</h2>
<div>
    <p>
        Link rejestracyjny został wysłany na podany adres.
        Kliknij w link w otrzymanym mailu aby aktywować konto.
    </p>
</div>
